<!doctype html>
<head>
  <title>ClipSelect</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta http-equiv="refresh" content="5">
</head>
<body>
  <div class="container">
    <h1>ClipSelect</h1>
    <div class="card-panel">
      <h5>Your request is being processed</h5>
      <div class="divider"></div>
      <div class="section">
        <p class="flow-text">Please enjoy this picture while I generate the gif for you.</p>
        <img src="https://www.randomdoggiegenerator.com/randomdoggie.php" class="center-align">
      </div>
    </div>
  </div>
</body>
